body {
  font-family: "Merienda", cursive;
  font-weight: bold;
  margin: 0px;
}
.weather-app {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/016/131/original/sky3.png?1630100586 ");
  background-size: cover;
  background-position: center;
  max-width: 800px;
  max-height: 585px;
  display: block;
  margin: 30px 0px 0px 160px;
  padding: 30px;
  border: 1px solid;
  border-radius: 20px;
}

.welcome {
  display: block;
  margin: 0px 150px;
  padding: 10px 15px;
  border: 2px solid rgb(117, 80, 80);
  border-radius: 35px;
  background-color: rgb(238, 232, 217);
  font-size: 14px;
}
#city-form {
  padding: 0px 30px;
  margin: 0px 10px;
}

#current-location {
  color: rgb(238, 232, 217);
  background-color: rgb(117, 80, 80);
  font-size: 13px;
  margin: 0px 30px 0px -40px;
  padding: 0px 10px;
  border: 1px solid;
  border-radius: 5px;
  position: relative;
  top: -5px;
}
#current-location:hover {
  color: rgb(28, 170, 170);
}

h1 {
  font-family: "Style Script", cursive;
  color: rgb(117, 80, 80);
  font-size: 46px;
  font-weight: bold;
  text-align: center;
}

ul {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-details {
  margin-top: 80px;
  padding: 0px;
  border: 2px solid rgb(117, 80, 80);
  background-color: rgb(238, 232, 217);
  color: rgb(49, 48, 48);
  border-radius: 12px;
}
.details {
  line-height: 1.8;
  font-size: 16px;
  padding-inline-start: 15px;
}

#icon {
  display: block;
  margin: 5px 40px 0px;
}
#description {
  font-weight: bolder;
  font-size: 18px;
}

.result {
  text-align: center;
  font-size: 30px;
  color: rgb(24, 23, 23);
  position: relative;
  bottom: -50px;
  line-height: 2;
}

#current-temperature {
  font-size: 32px;
}

#temp-celsius {
  font-size: 14px;
  position: relative;
  top: -12px;
}

.card {
  border: 2px solid rgb(117, 80, 80);
  background-color: rgb(238, 232, 217);
  border-radius: 12px;
  text-align: center;
}
.card-title {
  font-size: 16px;
  font-weight: bold;
}
.nextDays {
  position: relative;
  left: 630px;
  bottom: 390px;
  color: rgb(49, 48, 48);
  line-height: 0.4;
}

.first-day {
  background-color: rgb(238, 232, 217);
  margin-bottom: 20px;
}

.second-day {
  background-color: rgb(238, 232, 217);
  margin-bottom: 20px;
}
.third-day {
  background-color: rgb(238, 232, 217);
  margin-bottom: 20px;
}
.fourth-day {
  background-color: rgb(238, 232, 217);
  margin-bottom: 20px;
}
.fifth-day {
  background-color: rgb(238, 232, 217);
  margin-bottom: 20px;
}
.card-text {
  font-size: 14px;
}

#icon2,
#icon3,
#icon4,
#icon5,
#icon6 {
  padding: 0px;
}

small {
  text-align: center;
}
em {
  font-weight: bolder;
  text-decoration: underline;
}
#link-Git {
  color: rgb(95, 9, 56);
  font-size: 12px;
  font-weight: lighter;
}
#link-Git :hover {
  color: rgb(28, 170, 170);
}

.codeLink {
  position: relative;
  top: 5px;
}
